# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Databricks
.databricks/
*.dbc

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Secrets / credentials
*.json
!package.json
*.key
*.pem
